<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">أختر مهمتك يا وحش</h1>



    <div>
      <%  userswithsecret.forEach(function(user){ %>
      <p class="secret-text"> <%= user.Name%>  |  <%= user.secret%></p>
      <%   })%>
    </div>




    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/task" role="button">CHOSE YOUR MISSION 🔥🔥🔥</a>
  </div>
</div>

<%- include('partials/footer') %>
